BETFAIR_USERNAME=levon_rush@hotmail.com
BETFAIR_PASSWORD=dT6Ex46*Kea5ciW
BETFAIR_APP_KEY=your_app_key
BETFAIR_CERT_FILE=path/to/client-2048.pem
BETFAIR_KEY_FILE=path/to/client-2048.key
DATA_PATH=data/db.duckdb
ARTIFACTS_DIR=artifacts
