.env
certs/
*.crt
*.key
*.pem
*.p12
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
data/*.duckdb
data/*.parquet
data/historic_manifest.json
data/ingest_manifest.json
data/historic_lists/
data/**/*.bz2
data/**/*.tar
data/**/*.tar.gz
data/**/*.csv
artifacts/*.joblib
artifacts/*.csv
*.pyc
.venv/
data/data.tar
data/db_new.duckdb.wal
data/data.tar
.DS_Store
